header .user{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    
}

header .user a:has(img) h5{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;

}

header .user a:has(img){
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    width: 110px;
    font-size: 15px;
    background-color: #2d4b5d;
    height: 50px;
    border-radius: 10px;
}

header .user a:has(img) img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media(max-width : 970px){
    
    header .user{
        display: none;
    }

    
}