
.products-table-cont{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.products-table-cont table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(4, 4, 32);
    border: 1px solid gray;
    
}

.products-table-cont table th,
.products-table-cont table td{
    padding: 1rem 1rem;
    max-width: 180px;
    
}

.products-table-cont table td h5{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.products-table-cont table th{
    text-align: left;
    border-bottom: 1px solid gray;
}

table .table-img {
    width: 80px;
}

table .table-img img{
    width: 100%;
}

.products-table-cont table td div:has(span) {
    display: flex;
    gap: 15px;
}

.modal .add-product-cont form {
    flex-direction: column !important;
}

.modal .add-product-cont form .inputs {
    width: 100% !important;
}

.modal .add-product-cont form .images {
    margin-inline: auto !important;
}

.modal .add-product-cont form > button {
    height: 50px !important;
    margin-inline: auto !important;
}

.modal .delete-form {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modal .delete-form p{
    text-align: center;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.modal .delete-form .btn-cont{
    display: flex;
    gap: 1.5rem;
}

.modal .delete-form .btn-cont button:first-child{
    background-color: rgb(186, 34, 34);
}
